<?xml version="1.0"?>
<RuleSet
  Description="Tdg5.StandardConventions ruleset with default action."
  Name="Tdg5.StandardConventions ruleset with default action."
  ToolsVersion="15.0">

  <!-- StyleCop rules based on defaults from https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/f4aa051f149fc3b34b4f42a4bd7ee367bb4e84b4/StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/rulesets/StyleCopAnalyzersDefault.ruleset. -->
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpecialRules">

    <!-- SA0001: XML comment analysis disabled. -->
    <Rule Id="SA0001" Action="Warning" />

    <!-- SA0002: Invalid settings file. -->
    <Rule Id="SA0002" Action="Warning" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpacingRules">

    <!-- SA1000: Keywords should be spaced correctly. -->
    <Rule Id="SA1000" Action="Warning" />

    <!-- SA1001: Commas should be spaced correctly. -->
    <Rule Id="SA1001" Action="Warning" />

    <!-- SA1002: Semicolons should be spaced correctly. -->
    <Rule Id="SA1002" Action="Warning" />

    <!-- SA1003: Symbols should be spaced correctly. -->
    <Rule Id="SA1003" Action="Warning" />

    <!-- SA1004: Documentation lines should begin with single space. -->
    <Rule Id="SA1004" Action="Warning" />

    <!-- SA1005: Single line comments should begin with single space. -->
    <Rule Id="SA1005" Action="Warning" />

    <!-- SA1006: Preprocessor keywords should not be preceded by space. -->
    <Rule Id="SA1006" Action="Warning" />

    <!-- SA1007: Operator keyword should be followed by space. -->
    <Rule Id="SA1007" Action="Warning" />

    <!-- SA1008: Opening parenthesis should be spaced correctly. -->
    <Rule Id="SA1008" Action="Warning" />

    <!-- SA1009: Closing parenthesis should be spaced correctly. -->
    <Rule Id="SA1009" Action="Warning" />

    <!-- SA1010: Opening square brackets should be spaced correctly. -->
    <Rule Id="SA1010" Action="Warning" />

    <!-- SA1011: Closing square brackets should be spaced correctly. -->
    <Rule Id="SA1011" Action="Warning" />

    <!-- SA1012: Opening braces should be spaced correctly. -->
    <Rule Id="SA1012" Action="Warning" />

    <!-- SA1013: Closing braces should be spaced correctly. -->
    <Rule Id="SA1013" Action="Warning" />

    <!-- SA1014: Opening generic brackets should be spaced correctly. -->
    <Rule Id="SA1014" Action="Warning" />

    <!-- SA1015: Closing generic brackets should be spaced correctly. -->
    <Rule Id="SA1015" Action="Warning" />

    <!-- SA1016: Opening attribute brackets should be spaced correctly. -->
    <Rule Id="SA1016" Action="Warning" />

    <!-- SA1017: Closing attribute brackets should be spaced correctly. -->
    <Rule Id="SA1017" Action="Warning" />

    <!-- SA1018: Nullable type symbols should be spaced correctly. -->
    <Rule Id="SA1018" Action="Warning" />

    <!-- SA1019: Member access symbols should be spaced correctly. -->
    <Rule Id="SA1019" Action="Warning" />

    <!-- SA1020: Increment decrement symbols should be spaced correctly. -->
    <Rule Id="SA1020" Action="Warning" />

    <!-- SA1021: Negative signs should be spaced correctly. -->
    <Rule Id="SA1021" Action="Warning" />

    <!-- SA1022: Positive signs should be spaced correctly. -->
    <Rule Id="SA1022" Action="Warning" />

    <!-- SA1023: Dereference and access of symbols should be spaced correctly. -->
    <Rule Id="SA1023" Action="Warning" />

    <!-- SA1024: Colons should be spaced correctly. -->
    <Rule Id="SA1024" Action="Warning" />

    <!-- SA1025: Code should not contain multiple whitespace in a row. -->
    <Rule Id="SA1025" Action="Warning" />

    <!-- SA1026: Code should not contain space after new or stackalloc keyword in implicitly typed array allocation. -->
    <Rule Id="SA1026" Action="Warning" />

    <!-- SA1027 Use tabs correctly. -->
    <Rule Id="SA1027" Action="Warning" />

    <!-- SA1028: Code should not contain trailing whitespace. -->
    <Rule Id="SA1028" Action="Warning" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.ReadabilityRules">

    <!-- SA1100: Do not prefix calls with base unless local implementation exists. -->
    <Rule Id="SA1100" Action="Warning" />

    <!-- SA1101: Prefix local calls with this. -->
    <Rule Id="SA1101" Action="Warning" />

    <!-- SA1102: Query clause should follow previous clause. -->
    <Rule Id="SA1102" Action="Warning" />

    <!-- SA1103: Query clauses should be on separate lines or all on one line. -->
    <Rule Id="SA1103" Action="Warning" />

    <!-- SA1104: Query clause should begin on new line when previous clause spans multiple lines. -->
    <Rule Id="SA1104" Action="Warning" />

    <!-- SA1105: Query clauses spanning multiple lines should begin on own line. -->
    <Rule Id="SA1105" Action="Warning" />

    <!-- SA1106: Code should not contain empty statements. -->
    <Rule Id="SA1106" Action="Warning" />

    <!-- SA1107: Code should not contain multiple statements on one line. -->
    <Rule Id="SA1107" Action="Warning" />

    <!-- SA1108: Block statements should not contain embedded comments. -->
    <Rule Id="SA1108" Action="Warning" />

    <!-- SA1109: Block statements should not contain embedded regions. -->
    <Rule Id="SA1109" Action="None" />

    <!-- SA1110: Opening parenthesis or bracket should be on declaration line. -->
    <Rule Id="SA1110" Action="Warning" />

    <!-- SA1111: Closing parenthesis should be on line of last parameter. -->
    <Rule Id="SA1111" Action="Warning" />

    <!-- SA1112: Closing parenthesis should be on line of opening parenthesis. -->
    <Rule Id="SA1112" Action="Warning" />

    <!-- SA1113: Comma should be on the same line as previous parameter. -->
    <Rule Id="SA1113" Action="Warning" />

    <!-- SA1114: Parameter list should follow declaration. -->
    <Rule Id="SA1114" Action="Warning" />

    <!-- SA1115: Parameter should follow comma. -->
    <Rule Id="SA1115" Action="Warning" />

    <!-- SA1116: Split parameters should start on line after declaration. -->
    <Rule Id="SA1116" Action="Warning" />

    <!-- SA1117: Parameters should be on same line or separate lines. -->
    <Rule Id="SA1117" Action="Warning" />

    <!-- SA1118: Parameter should not span multiple lines. -->
    <Rule Id="SA1118" Action="Warning" />

    <!-- SA1120: Comments should contain text. -->
    <Rule Id="SA1120" Action="Warning" />

    <!-- SA1121: Use built-in type alias. -->
    <Rule Id="SA1121" Action="Warning" />

    <!-- SA1122: Use string.Empty for empty strings. -->
    <Rule Id="SA1122" Action="Warning" />

    <!-- SA1123: Do not place regions within elements. -->
    <Rule Id="SA1123" Action="Warning" />

    <!-- SA1124: Do not use regions. -->
    <Rule Id="SA1124" Action="Warning" />

    <!-- SA1125: Use shorthand for nullable types. -->
    <Rule Id="SA1125" Action="Warning" />

    <!-- SA1126: Prefix calls correctly. -->
    <Rule Id="SA1126" Action="None" />

    <!-- SA1127: Generic type constraints should be on their own line. -->
    <Rule Id="SA1127" Action="Warning" />

    <!-- SA1128: Put constructor initializers on their own line. -->
    <Rule Id="SA1128" Action="Warning" />

    <!-- SA1129: Do not use default value type constructor. -->
    <Rule Id="SA1129" Action="Warning" />

    <!-- SA1130: Use lambda syntax. -->
    <Rule Id="SA1130" Action="Warning" />

    <!-- SA1131: Use readable conditions. -->
    <Rule Id="SA1131" Action="Warning" />

    <!-- SA1132: Do not combine fields. -->
    <Rule Id="SA1132" Action="Warning" />

    <!-- SA1133: Do not combine attributes. -->
    <Rule Id="SA1133" Action="Warning" />

    <!-- SA1134: Attributes should not share line. -->
    <Rule Id="SA1134" Action="Warning" />

    <!-- SA1135: Using directives should be qualified. -->
    <Rule Id="SA1135" Action="Warning" />

    <!-- SA1136: Enum values should be on separate lines. -->
    <Rule Id="SA1136" Action="Warning" />

    <!-- SA1137: Elements should have the same indentation. -->
    <Rule Id="SA1137" Action="Warning" />

    <!-- SA1139: Use literal suffix notation instead of casting. -->
    <Rule Id="SA1139" Action="Warning" />

    <!-- SA1141: Use tuple syntax instead of ValueTuple. -->
    <Rule Id="SA1141" Action="Warning" />

    <!-- SA1142: Refer to tuple elements by name. -->
    <Rule Id="SA1142" Action="Warning" />

    <!-- SX1101: Do not prefix local calls with 'this.'. -->
    <Rule Id="SX1101" Action="None" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.OrderingRules">

    <!-- SA1200: Using directives should be placed correctly. -->
    <Rule Id="SA1200" Action="Warning" />

    <!-- SA1201: Elements should appear in the correct order. -->
    <Rule Id="SA1201" Action="Warning" />

    <!-- SA1202: Elements should be ordered by access. -->
    <Rule Id="SA1202" Action="Warning" />

    <!-- SA1203: Constants should appear before fields. -->
    <Rule Id="SA1203" Action="Warning" />

    <!-- SA1204: Static elements should appear before instance elements. -->
    <Rule Id="SA1204" Action="Warning" />

    <!-- SA1205: Partial elements should declare access. -->
    <Rule Id="SA1205" Action="Warning" />

    <!-- SA1206: Declaration keywords should follow order. -->
    <Rule Id="SA1206" Action="Warning" />

    <!-- SA1207: Protected should come before internal. -->
    <Rule Id="SA1207" Action="Warning" />

    <!-- SA1208: System using directives should be placed before other using directives. -->
    <!-- Disabled by systemUsingDirectivesFirst config in stylecop.json. -->
    <Rule Id="SA1208" Action="None" />

    <!-- SA1209: Using alias directives should be placed after other using directives. -->
    <Rule Id="SA1209" Action="Warning" />

    <!-- SA1210: Using directives should be ordered alphabetically by namespace. -->
    <Rule Id="SA1210" Action="Warning" />

    <!-- SA1211: Using alias directives should be ordered alphabetically by alias name. -->
    <Rule Id="SA1211" Action="Warning" />

    <!-- SA1212: Property accessors should follow order. -->
    <Rule Id="SA1212" Action="Warning" />

    <!-- SA1213: Event accessors should follow order. -->
    <Rule Id="SA1213" Action="Warning" />

    <!-- SA1214: Readonly fields should appear before non-readonly fields. -->
    <Rule Id="SA1214" Action="Warning" />

    <!-- SA1216: Using static directives should be placed at the correct location. -->
    <Rule Id="SA1216" Action="Warning" />

    <!-- SA1217: Using static directives should be ordered alphabetically. -->
    <Rule Id="SA1217" Action="Warning" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.NamingRules">

    <!-- SA1300: Element should begin with upper-case letter. -->
    <Rule Id="SA1300" Action="Warning" />

    <!-- SA1301: Element should begin with lower-case letter. -->
    <!-- As of 2024-11-14, there are no situations in which this rule will fire. -->
    <Rule Id="SA1301" Action="None" />

    <!-- SA1302: Interface names should begin with I. -->
    <Rule Id="SA1302" Action="Warning" />

    <!-- SA1303: Const field names should begin with upper-case letter. -->
    <Rule Id="SA1303" Action="Warning" />

    <!-- SA1304: Non-private readonly fields should begin with upper-case letter. -->
    <Rule Id="SA1304" Action="Warning" />

    <!-- SA1305: Field names should not use Hungarian notation. -->
    <Rule Id="SA1305" Action="None" />

    <!-- SA1306: Field names should begin with lower-case letter. -->
    <Rule Id="SA1306" Action="Warning" />

    <!-- SA1307: Accessible fields should begin with upper-case letter. -->
    <Rule Id="SA1307" Action="Warning" />

    <!-- SA1308: Variable names should not be prefixed. -->
    <Rule Id="SA1308" Action="Warning" />

    <!-- SA1309: Field names should not begin with underscore. -->
    <Rule Id="SA1309" Action="None" />

    <!-- SA1310: Field names should not contain underscore. -->
    <Rule Id="SA1310" Action="Warning" />

    <!-- SA1311: Static readonly fields should begin with upper-case letter. -->
    <Rule Id="SA1311" Action="Warning" />

    <!-- SA1312: Variable names should begin with lower-case letter. -->
    <Rule Id="SA1312" Action="Warning" />

    <!-- SA1313: Parameter names should begin with lower-case letter. -->
    <Rule Id="SA1313" Action="Warning" />

    <!-- SA1314: Type parameter names should begin with T. -->
    <Rule Id="SA1314" Action="Warning" />

    <!-- SX1309: Field names should begin with underscore. -->
    <Rule Id="SX1309" Action="None" />

    <!-- SX1309S: Static field names should begin with underscore. -->
    <Rule Id="SX1309S" Action="None" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.MaintainabilityRules">

    <!-- SA1119: Statement should not use unnecessary parenthesis. -->
    <Rule Id="SA1119" Action="Warning" />

    <!-- SA1400: Access modifier should be declared. -->
    <Rule Id="SA1400" Action="Warning" />

    <!-- SA1401: Fields should be private. -->
    <Rule Id="SA1401" Action="Warning" />

    <!-- SA1402: File may only contain a single type. -->
    <Rule Id="SA1402" Action="Warning" />

    <!-- SA4032: File may only contain a single namespace. -->
    <Rule Id="SA1403" Action="Warning" />

    <!-- SA1404: Code analysis suppression should have justification. -->
    <Rule Id="SA1404" Action="Warning" />

    <!-- SA1405: Debug.Assert should provide message text. -->
    <Rule Id="SA1405" Action="Warning" />

    <!-- SA1406: Debug.Fail should provide message text. -->
    <Rule Id="SA1406" Action="Warning" />

    <!-- SA1407: Arithmetic expressions should declare precedence. -->
    <Rule Id="SA1407" Action="Warning" />

    <!-- SA1408: Conditional expressions should declare precedence. -->
    <Rule Id="SA1408" Action="Warning" />

    <!-- SA1409: Remove unnecessary code. -->
    <Rule Id="SA1409" Action="None"  />

    <!-- SA1410: Remove delegate parenthesis when possible. -->
    <Rule Id="SA1410" Action="Warning" />

    <!-- SA1411: Attribute constructor should not use unnecessary parenthesis. -->
    <Rule Id="SA1411" Action="Warning" />

    <!-- SA1412: Store files as UTF-8 with byte order mark. -->
    <Rule Id="SA1412" Action="None"  />

    <!-- SA1413: Use trailing comma in multi-line initializers. -->
    <Rule Id="SA1413" Action="Warning" />

    <!-- SA1414: Tuple types in signatures should have element names. -->
    <Rule Id="SA1414" Action="Warning" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.LayoutRules">

    <!-- SA1500: Braces for multi-line statements should not share line. -->
    <Rule Id="SA1500" Action="Warning" />

    <!-- SA1501: Statement should not be on a single line. -->
    <Rule Id="SA1501" Action="Warning" />

    <!-- SA1502: Element should not be on a single line. -->
    <Rule Id="SA1502" Action="Warning" />

    <!-- SA1503: Braces should not be omitted. -->
    <Rule Id="SA1503" Action="Warning" />

    <!-- SA1504: All accessors should be single-line or multi-line. -->
    <Rule Id="SA1504" Action="Warning" />

    <!-- SA1505: Opening braces should not be followed by blank line. -->
    <Rule Id="SA1505" Action="Warning" />

    <!-- SA1506: Element documentation headers should not be followed by blank line. -->
    <Rule Id="SA1506" Action="Warning" />

    <!-- SA1507: Code should not contain multiple blank lines in a row. -->
    <Rule Id="SA1507" Action="Warning" />

    <!-- SA1508: Closing braces should not be preceded by blank line. -->
    <Rule Id="SA1508" Action="Warning" />

    <!-- SA1509: Opening braces should not be preceded by blank line. -->
    <Rule Id="SA1509" Action="Warning" />

    <!-- SA1510: Chained statement blocks should not be preceded by blank line. -->
    <Rule Id="SA1510" Action="Warning" />

    <!-- SA1511: While-do footer should not be preceded by blank line. -->
    <Rule Id="SA1511" Action="Warning" />

    <!-- SA1512: Single-line comments should not be followed by blank line. -->
    <Rule Id="SA1512" Action="Warning" />

    <!-- SA1513: Closing brace should be followed by blank line. -->
    <Rule Id="SA1513" Action="Warning" />

    <!-- SA1514: Element documentation header should be preceded by blank line. -->
    <Rule Id="SA1514" Action="Warning" />

    <!-- SA1515: Single-line comment should be preceded by blank line. -->
    <Rule Id="SA1515" Action="Warning" />

    <!-- SA1516: Elements should be separated by blank line. -->
    <Rule Id="SA1516" Action="Warning" />

    <!-- SA1517: Code should not contain blank lines at start of file. -->
    <Rule Id="SA1517" Action="Warning" />

    <!-- SA1518: Use line endings correctly at end of file. -->
    <Rule Id="SA1518" Action="Warning" />

    <!-- SA1519: Braces should not be omitted from multi-line child statement. -->
    <Rule Id="SA1519" Action="Warning" />

    <!-- SA1520: Use braces consistently. -->
    <Rule Id="SA1520" Action="Warning" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.DocumentationRules">

    <!-- SA1600: Elements should be documented. -->
    <Rule Id="SA1600" Action="Warning" />

    <!-- SA1601: Partial elements should be documented. -->
    <Rule Id="SA1601" Action="Warning" />

    <!-- SA1602: Enumeration items should be documented. -->
    <Rule Id="SA1602" Action="Warning" />

    <!-- SA1603: Documentation should contain valid XML. -->
    <!-- This is a duplicate of CS1570. -->
    <Rule Id="SA1603" Action="None" />

    <!-- SA1604: Element documentation should have summary. -->
    <Rule Id="SA1604" Action="Warning" />

    <!-- SA1605: Partial element documentation should have summary. -->
    <Rule Id="SA1605" Action="Warning" />

    <!-- SA1606: Element documentation should have summary text. -->
    <Rule Id="SA1606" Action="Warning" />

    <!-- SA1607: Partial element documentation should have summary text. -->
    <Rule Id="SA1607" Action="Warning" />

    <!-- SA1608: Element documentation should not have default summary. -->
    <Rule Id="SA1608" Action="Warning" />

    <!-- SA1609: Property documentation should have value. -->
    <Rule Id="SA1609" Action="None" />

    <!-- SA1610: Property documentation should have value text. -->
    <Rule Id="SA1610" Action="Warning" />

    <!-- SA1611: Element parameters should be documented. -->
    <Rule Id="SA1611" Action="Warning" />

    <!-- SA1612: Element parameter documentation should match element parameters. -->
    <Rule Id="SA1612" Action="Warning" />

    <!-- SA1613: Element parameter documentation should declare parameter name. -->
    <Rule Id="SA1613" Action="Warning" />

    <!-- SA1614: Element parameter documentation should have text. -->
    <Rule Id="SA1614" Action="Warning" />

    <!-- SA1615: Element return value should be documented. -->
    <Rule Id="SA1615" Action="Warning" />

    <!-- SA1616: Element return value documentation should have text. -->
    <Rule Id="SA1616" Action="Warning" />

    <!-- SA1617: Void return value should not be documented. -->
    <Rule Id="SA1617" Action="Warning" />

    <!-- SA1618: Generic type parameters should be documented. -->
    <Rule Id="SA1618" Action="Warning" />

    <!-- SA1619: Generic type parameters should be documented partial class. -->
    <Rule Id="SA1619" Action="Warning" />

    <!-- SA1620: Generic type parameter documentation should match type parameters. -->
    <Rule Id="SA1620" Action="Warning" />

    <!-- SA1621: Generic type parameter documentation should declare parameter name. -->
    <Rule Id="SA1621" Action="Warning" />

    <!-- SA1622: Generic type parameter documentation should have text. -->
    <Rule Id="SA1622" Action="Warning" />

    <!-- SA1623: Property summary documentation should match accessors. -->
    <Rule Id="SA1623" Action="Warning" />

    <!-- SA1624: Property summary documentation should omit accessor with restricted access. -->
    <Rule Id="SA1624" Action="Warning" />

    <!-- SA1625: Element documentation should not be copied and pasted. -->
    <Rule Id="SA1625" Action="Warning" />

    <!-- SA1626: Single-line comments should not use documentation style slashes. -->
    <Rule Id="SA1626" Action="Warning" />

    <!-- SA1627: Documentation text should not be empty. -->
    <Rule Id="SA1627" Action="Warning" />

    <!-- SA1628: Documentation text should begin with a capital letter. -->
    <Rule Id="SA1628" Action="None" />

    <!-- SA1629: Documentation text should end with a period. -->
    <Rule Id="SA1629" Action="Warning" />

    <!-- SA1630: Documentation text should contain whitespace. -->
    <Rule Id="SA1630" Action="None" />

    <!-- SA1631: Documentation should meet character percentage. -->
    <Rule Id="SA1631" Action="None" />

    <!-- SA1632: Documentation text should meet minimum character length. -->
    <Rule Id="SA1632" Action="None" />

    <!-- SA1633: File should have header. -->
    <!-- File headers not required. -->
    <Rule Id="SA1633" Action="None" />

    <!-- SA1634: File header should show copyright. -->
    <!-- File headers not required. -->
    <Rule Id="SA1634" Action="None" />

    <!-- SA1635: File header should have copyright text. -->
    <!-- File headers not required. -->
    <Rule Id="SA1635" Action="None" />

    <!-- SA1636: File header copyright text should match. -->
    <!-- File headers not required. -->
    <Rule Id="SA1636" Action="None" />

    <!-- SA1637: File header should contain file name. -->
    <!-- File headers not required. -->
    <Rule Id="SA1637" Action="None" />

    <!-- SA1638: File header file name documentation should match file name. -->
    <!-- File headers not required. -->
    <Rule Id="SA1638" Action="None" />

    <!-- SA1639: File header should have summary. -->
    <!-- File headers not required. -->
    <Rule Id="SA1639" Action="None" />

    <!-- SA1640: File header should have valid company text. -->
    <!-- File headers not required. -->
    <Rule Id="SA1640" Action="None" />

    <!-- SA1641: File header company name text should match. -->
    <!-- File headers not required. -->
    <Rule Id="SA1641" Action="None" />

    <!-- SA1642: Constructor summary documentation should begin with standard text. -->
    <Rule Id="SA1642" Action="Warning" />

    <!-- SA1643: Destructor summary documentation should begin with standard text. -->
    <Rule Id="SA1643" Action="Warning" />

    <!-- SA1644: Documentation headers should not contain blank lines. -->
    <Rule Id="SA1644" Action="None" />

    <!-- SA1645: Included documentation file does not exist. -->
    <Rule Id="SA1645" Action="None" />

    <!-- SA1646: Included documentation XPath does not exist. -->
    <Rule Id="SA1646" Action="None" />

    <!-- SA1647: Include node does not contain valid file and path. -->
    <Rule Id="SA1647" Action="None" />

    <!-- SA1648: Inheritdoc should be used with inheriting class. -->
    <Rule Id="SA1648" Action="Warning" />

    <!-- SA1649: File name should match first type name. -->
    <Rule Id="SA1649" Action="Warning" />

    <!-- SA1650: Element documentation should be spelled correctly. -->
    <Rule Id="SA1650" Action="None" />

    <!-- SA1651: Do not use placeholder elements. -->
    <Rule Id="SA1651" Action="Warning" />

  </Rules>

  <Rules AnalyzerId="AnalysisModeStyle" RuleNamespace="Microsoft.CodeAnalysis.CSharp">

    <!-- CS1591: Missing documentation for public type. -->
    <!-- Prefer SA1600 instead. -->
    <Rule Id="CS1591" Action="None" />

    <!-- IDE0290: Use primary constructor. -->
    <!-- Primary constructors can muddle class documentation. -->
    <Rule Id="IDE0290" Action="None" />

  </Rules>

</RuleSet>
